extends layout

block header
  .intro
    .pilots
      h1 Mobile Ordering for Restaurants & Bars
      h2 Orderspot lets you streamline service by sending mobile orders and payments directly to your kitchen.
      if pilot && pilot.stripeAccountId
        a.button.primary(href='/pilots/dashboard') View dashboard
      else
        a.button.primary(href='/pilots/signup') Get Started

block content
  .features
    section.schedule
      h3 Convenient Service
      p Keep your customers happy by letting them order conveniently from their tables rather than waiting in line or hailing a busy server.
    section.earnings
      h3 Personalized Service
      p Orderspot analyzes the profiles of the customers frequenting your restaurant so you can make better decisions.
    section.app
      h3 Streamlined Service
      p Orderspot reduces the time for food to reach customers by allowing your kitchen to receive orders directly from diners' mobile phones.
